.hoverwell:hover {
  background-color: #485563;
  cursor: pointer;
}

.container {
  padding-top: 10px;
  background-color: lightblue;
}

.box {
  margin: 50px;
}

.pointable {
   cursor: pointer;
}

.navbar {
  background-color: rgb(0, 238, 255);
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}
